@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

/* Tailwind Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gradientText {
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.move {
}

.theme {
  transition: all 1s;
}

.dark {
  color: #111;
  background-color: #fff;
}
.light {
  background-color: #111;
  color: #bbb;
}
